.gitignore
.ipynb_checkpoints/
IAM_Words*/
one_model_trainer/__pycache__/
one_model_trainer/.ipynb_checkpoints/
one_model_trainer/task.ipynb
hyperparameter_tuner/__pycache__/
hyperparameter_tuner/.ipynb_checkpoints/
test_set_predictions/IAM_Words_*
test_set_predictions/*.csv
test_set_predictions/model/*
